In [14]:
x = 3
 # Prints "<class 'int'>"
 # Prints "3"
# Addition; prints "4"
# Subtraction; prints "2"
# Multiplication; prints "6"
# Exponentiation; prints "9"

# Prints "4"

# Prints "8"
y = 2.5
# Prints "<class 'float'>"
# Prints "2.5 3.5 5.0 6.25"

In [19]:
print(type(x))

<class 'int'>

In [8]:
print(x)

3

In [7]:
print(x+1)

4

In [9]:
print(x-1)

2

In [10]:
print(x*2)

6

In [11]:
x**2

9

In [15]:
x = x +1
x

4

In [18]:
print(type(y))

<class 'float'>

In [20]:
print(y, y+1, y*2, 2*y + (y/2))

2.5 3.5 5.0 6.25

In [22]:
t = True
f = False
# Prints "<class 'bool'>"
# Logical AND; prints "False"
# Logical OR; prints "True"
# Logical NOT; prints "False"
# Logical XOR; prints "True"

In [23]:
type(t)

bool

In [24]:
print(t and f)

False

In [25]:
print(t or f)

True

In [29]:
print(not t)

False

In [30]:
print(t != f)

True

In [3]:
hello = 'hello'    # String literals can use single quotes
world = "world"    # or double quotes; it does not matter.
# Prints "hello"
# String length; prints "5"
# String concatenation
# prints "hello world"
# sprintf style string formatting
# prints "hello world 12"

NameError: name 'hw12' is not defined

In [4]:
print(hello)

hello

In [5]:
print(len(hello))

5

In [6]:
hw = hello + ' ' + world

In [7]:
print(hw)

hello world

( %s %d %f) ('hello world', 'hello world', 'hello world')

In [13]:
s = "hello"
# Capitalize a string; prints "Hello"
# Convert a string to uppercase; prints "HELLO"
# Right-justify a string, padding with spaces; prints "  hello"
# Center a string, padding with spaces; prints " hello "
# Replace all instances of one substring with another;
                                # prints "he(ell)(ell)o"
# Strip leading and trailing whitespace; prints "world"

In [15]:
print(s.capitalize())

Hello

In [16]:
print(s.upper())

HELLO

In [26]:
print(s.rjust(15))

          hello

In [29]:
print(s.center(10))

  hello

In [30]:
print(s.replace('l','(ell)'))

he(ell)(ell)o

In [35]:
print('  world'.strip())

world

In [36]:
xs = [3, 1, 2]    # Create a list
 # Prints "[3, 1, 2] 2"
 # Negative indices count from the end of the list; prints "2"
 # Lists can contain elements of different types
 # Prints "[3, 1, 'foo']"
 # Add a new element to the end of the list
 # Prints "[3, 1, 'foo', 'bar']"
 # Remove and return the last element of the list
 # Prints "bar [3, 1, 'foo']"

In [37]:
print(xs, xs[2])

[3, 1, 2] 2

In [38]:
print(xs[-1])

2

In [50]:
xs[2] = 'foo'
print(xs)

[3, 1, 'foo']

In [51]:
xs.append('bar')
print(xs)

[3, 1, 'foo', 'bar']

In [43]:
xs.pop(-1)

'bar'

In [44]:
xs

[3, 1, 'foo', 'bar']

In [52]:
print(xs.pop(3), xs)

bar [3, 1, 'foo']

In [53]:
x= list(range(5)) # range is a built-in function that creates a list of integers
 # Prints "[0, 1, 2, 3, 4]"
 # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
 # Get a slice from index 2 to the end; prints "[2, 3, 4]"
 # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
 # Get a slice of the whole list; prints "[0, 1, 2, 3, 4]"
 # Slice indices can be negative; prints "[0, 1, 2, 3]"
 # Assign a new sublist to a slice
 # Prints "[0, 1, 8, 9, 4]"

In [54]:
print(x)

[0, 1, 2, 3, 4]

In [55]:
print(x[2:4])

[2, 3]

In [56]:
print(x[2:])

[2, 3, 4]

In [57]:
print(x[:2])

[0, 1]

In [58]:
print(x[:])

[0, 1, 2, 3, 4]

In [59]:
print(x[:-1])

[0, 1, 2, 3]

In [60]:
x[2:4] = [8,9]

In [61]:
print(x)

[0, 1, 8, 9, 4]

In [62]:
animals = ['cat', 'dog', 'monkey']
# Prints "cat", "dog", "monkey", each on its own line.

In [66]:
for ani in animals:
    print(ani)

cat
dog
monkey

In [67]:
animals = ['cat', 'dog', 'monkey']
# Prints "#1: cat", "#2: dog", "#3: monkey", each on its own line

In [69]:
for a, ani in enumerate(animals):
    print('#%d: %s' % (a,ani))

#0: cat
#1: dog
#2: monkey

In [73]:
nums = [0, 1, 2, 3, 4]
squares = []

In [72]:
for i in nums:
    squares.append(i**2)
    pass
print(squares)

[0, 1, 4, 9, 16]

In [74]:
squares = [x**2 for x in nums ]
print(squares)

[0, 1, 4, 9, 16]

In [76]:
even_squares = [x**2 for x in nums if x%2 ==0]
print(even_squares)

[0, 4, 16]

In [77]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
  # Get an entry from a dictionary; prints "cute"
  # Check if a dictionary has a given key; prints "True"
  # Set an entry in a dictionary
  # Prints "wet"
# print(d['monkey'])  # KeyError: 'monkey' not a key of d
# Get an element with a default; prints "N/A"
# Get an element with a default; prints "wet"
# Remove an element from a dictionary
# "fish" is no longer a key; prints "N/A"

In [78]:
d['cat']

'cute'

In [79]:
'cat'in d

True

In [91]:
d['fish'] = 'wet'
d

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [82]:
d['fish']

'wet'

In [83]:
d['monkey']

KeyError: 'monkey'

In [85]:
print(d.get('monkey','N/A'))

N/A

In [92]:
print(d.get('fish','N/A'))

wet

In [93]:
del d['fish']
d

{'cat': 'cute', 'dog': 'furry'}

In [94]:
print(d.get('fish','N/A'))

N/A

In [95]:
d = {'person': 2, 'cat': 4, 'spider': 8}
# Prints "A person has 2 legs", "A cat has 4 legs", "A spider has 8 legs"

In [97]:
for key in d:
    legs = d[key]
    print('A %s has %d legs' % (key,legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [98]:
for key,value in d.items():
    print('A %s has %d legs' % (key,value))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [105]:
nums = [0, 1, 2, 3, 4]
squares = {x : x**2 for y,x in enumerate(nums) if x %2 == 0}

In [106]:
print(squares)

{0: 0, 2: 4, 4: 16}

In [108]:
animals = {'cat', 'dog'}
# Check if an element is in a set; prints "True"
# prints "False"
# Add an element to a set
# Prints "True"
# Number of elements in a set; prints "3"
# Adding an element that is already in the set does nothing
# Prints "3"
# Remove an element from a set
# Prints "2"

In [109]:
'cat' in animals

True

In [110]:
'monkey' in animals

False

In [112]:
animals.add('monkey')

In [113]:
'monkey' in animals

True

In [114]:
len(animals)

3

In [115]:
animals.add('monkey')

In [116]:
len(animals)

3

In [117]:
animals.remove('monkey')

In [118]:
len(animals)

2

In [119]:
animals = {'cat', 'dog', 'fish'}
# Prints "#1: fish", "#2: dog", "#3: cat"

In [121]:
for a,b in enumerate(animals):
    print ('#%d: %s' % (a+1,b))

#1: dog
#2: fish
#3: cat

In [131]:
nums = {0,1,2,3,4,5}
squared = set()
for i in nums: 
    squared.add(i**2)
    pass
print(squared)

{0, 1, 4, 9, 16, 25}

In [132]:
squared_comp = {x**2 for x in nums if x % 2 == 0}

In [133]:
print(squared_comp)

{0, 16, 4}

In [134]:
 # Create a dictionary with tuple keys
t = (5, 6)        # Create a tuple
# Prints "<class 'tuple'>"
# Prints "5"
# Prints "1"

In [136]:
d = {(x,x+1):x for x in range(10)}

In [137]:
type(t)

tuple

In [138]:
d[t]

5

In [139]:
print(d[(1,2)])

1

In [141]:
def sign(x):
    if x>0:
        print('positive')
    elif x<0:
        print('negative')
    else:
        print('zero')
    pass

for i in [-1,0,1]:
    sign(i)

negative
zero
positive

In [142]:
def name(x, loud=False):
    if loud is True:
        print('Hello, %s!' % x.upper())
        pass
    else:
        print('Hello, %s!' % x)
        pass
    return

name('Fred')

Hello, Fred!

In [143]:
name('Mama', loud=True)

Hello, MAMA!

In [149]:
class greeting():
    def __init__ (self, name):
        self.name = name
    
    def say_hello(self, loud=False):
        if loud is False:
            print('Hello %s!' % self.name)
        else:
            print('Hello %s!' % self.name.upper())

fellow = greeting('Mama')

In [150]:
fellow.say_hello()

Hello Mama!

In [151]:
fellow.say_hello(loud='True')

Hello MAMA!